/target/
/shared/target/
/shopper-client/target/
/test/target/
/rossshopper.iml
/shopper-client/shopper-client.iml
/.idea/
/shared/shared.iml
/shopper-st/shopper-st.iml
/shopper/shopper.iml
/shopper-ui/shopper-ui.iml
/shopper/target/
/shopper-st/target/
/shopper-ui/target/
.DS_Store*
/shopper/src/main/java/se/rosscom/shopper/business/Boundary.java
/shopper/src/main/java/se/rosscom/shopper/business/DatasourceSelector.java
/shopper/src/main/resources/META-INF/persistence.xml.txt
/shopper-uix/target/
/shopper-uix/shopper-uix.iml
