
.background {
    -fx-background-image: url("listanBackground.jpg");
    -fx-background-size: 100%
}

.top-segment {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color:
        transparent transparent rgba(255, 255, 255, 0.08) transparent,
        transparent transparent rgba(0, 0, 0, 0.5) transparent;
    -fx-border-width: 1, 1.5;
    -fx-border-insets: -1, 0;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgba(255, 255, 255, 255);
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
}

.profileTitle {
    -fx-font-size: 18;
}

.hyperlink {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-text-fill: rgba(255, 255, 255);
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
    -fx-border-width: 0;
}

.hyperlink:focused {
    -fx-text-fill: rgba(255, 255, 255);
}

.check-box .box {
    -fx-background-color:
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 1),
        -fx-outer-border,
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: 0 -1.6 -2 -1.6, -1.4, 0, 1, 2;
}

.check-box:focused .box {
    -fx-background-color:
        rgba(255, 255, 255, 0.15),
        rgba(0, 0, 0, 0.8),
        -fx-outer-border,
        -fx-inner-border,
        white;
}


.text-input {
    -fx-font-family        : "Arial"; /* Roboto Regular */
    -fx-font-size          : 15px;
    -fx-text-fill          : -material-design-color;
    -fx-highlight-fill     : derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -material-design-color;
    -fx-prompt-text-fill   : transparent;
    -fx-background-color   : transparent;
    -fx-background-insets  : 0;
    -fx-background-radius  : 0;
    -fx-border-color       : transparent transparent rgb(255, 255, 255) transparent;
    -fx-border-width       : 1;
    -fx-border-insets      : 0 0 1 0;
    -fx-border-style       : hidden hidden solid hidden;
    -fx-cursor             : text;
    -fx-padding            : 0.166667em 0em 0.333333em 0em;
}
.text-input:focused {
    -fx-highlight-fill     : -material-design-color-transparent;
    -fx-highlight-text-fill: -material-design-color;
    -fx-text-fill          : -material-design-color;
    -fx-background-color   : transparent;
    -fx-background-insets  : 0;
    -fx-background-radius  : 0;
    -fx-border-color       : transparent transparent -material-design-color transparent;
    -fx-border-width       : 2;
    -fx-border-insets      : 0 0 2 -1;
    -fx-border-style       : hidden hidden solid hidden;
    -fx-prompt-text-fill   : transparent;
    -fx-padding            : 2 0 4 0;
}
.text-input:readonly {
    -fx-background-color: transparent;
    -fx-text-fill       : derive(-fx-text-base-color, 35%);
    -fx-border-style    : segments(2, 3)  line-cap butt;
    -fx-border-color    : transparent transparent rgb(255, 255, 255) transparent;
}
.text-input:focused:readonly {
    -fx-text-fill   : derive(-fx-text-base-color, 35%);
    -fx-border-style: segments(2, 3)  line-cap butt;
    -fx-border-color: transparent transparent -material-design-color transparent;
}
.text-input:disabled {
    -fx-opacity     : 0.46;
    -fx-border-style: segments(2, 3)  line-cap butt;
    -fx-border-color: transparent transparent black transparent;
}
.text-input:focused > .material-field {
    -prompt-text-color: -material-design-color;
}
